{
	"extends": "react-app",
	"rules": {
		"quotes": [
			2,
			"single",
			{ "avoidEscape": true, "allowTemplateLiterals": true }
		],
		"semi": ["warn", "always"],
		"comma-dangle": ["error", "always-multiline"],
		"indent": ["error", "tab"],
		"object-curly-spacing": ["error", "always"]
	}
}
