.cluster-marker {
  color: #fff;
  background: rgba(47, 154, 255, 0.5);
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-content: center;
  place-content: center;
}

.cluster-count {
  margin: auto;
}
